@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family :   'Poppins',sans-serif;
}


body {
  background-color: #011627; 
  color: #cbd5e1;
}


/*navbar-styles*/
.homepage {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.brand {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  color: #cbd5e1;
  text-decoration:none;
  align-items: center;
  gap: 15px;
}

.logo {
    background-color: #cbd5e1;
    color: #011627;
    padding: 6px 20px;
    font-size: 40px;
    font-weight: 700;
    border-radius: 50%;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  font-size: 18px;
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
  list-style: none;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
  text-decoration: none;
  color: #00bcd4;   
  font-size: 30px;
  font-weight: 700;
  transition: color 0.3s;
}

.menu,
.close {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
  color: #cbd5e1;
}

.menu { display: none; }
.close { display: none; }

.theme-toggler {
    position: absolute;
    display: block; 
    top: 20px;
    right: 30px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #00bcd4;
    color: #cbd5e1;
  }


  @media (max-width: 768px) {
  .navbar {
    display: none; 
  }

  .brand {
    font-size: 28px;
    top: 0;
    right: 0;
    padding: 5px 30%;
    gap: 10px;
  }

  .logo {
    font-size: 28px;
    padding: 4px 14px;
  }

  .menu {
    display: block; 
  }

  .theme-toggler {
    position: absolute;
    display: block; 
    top: 20px;
    right: 20px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #00bcd4;
    color: #cbd5e1;
    cursor: pointer;
  }

  .navbar.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #45a7b4;
    color: #011627;
    border-radius: 10px;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    padding: 18px 15px;
    margin: 25px;
  }

  .navbar a:hover,
  .navbar a.active{
    text-decoration: none;
    color: #00bcd4;  
    font-size: 30px;
    font-weight: 700;
    transition: color 0.3s;
}
}
/* End of navbar-styles */

.hero {
  min-height: 100vh;       
  display: flex;
  align-items: center;
  padding: 8rem 10% 2rem;   
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.hero-content {
  max-width: 600px;
}

.hero-text {
   margin-top: 15px;
}
.hero-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: #00bcd4;
}

.hero-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #011627;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.hero-content h3 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px #00bcd4;
  animation: display-text 9s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.hero-content h3 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #00bcd4;
  color: #00bcd4;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 3s linear infinite;

}


@keyframes fill-text {
  10%,100% {
    width: 0;
  }

  70%, 90% {
    width: 100%;
  }
}

.hero-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px 
}


.buttons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00bcd4;
  border: 2px solid #00bcd4;
  border-radius: 12px;
  font-size: 19px;
  color: #011627;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.buttons a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #cbd5e1;
  z-index: -1;
  transition: .5s;
}

.buttons a:hover:before {
  width: 100%;
}

.buttons a:nth-child(2) {
  background-color: transparent;
  color: #00bcd4;
}

.buttons a:nth-child(2):hover {
  color: #011627;
}

.buttons a:nth-child(2)::before {
  background: #00bcd4;
}

.hero-content .buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height:50px;
}

.hero-sci {
  position: absolute;
  bottom: 40px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hero-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00bcd4;
  border-radius: 50%;
  font-size: 20px;
  color: #00bcd4;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.hero-sci a:hover {
  color: #011627;
}

.hero-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00bcd4;
  z-index: -1;
  transition: .5s;
}

.hero-sci a:hover::before {
  width: 100%;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}


.hero-image .img-box {
  position: relative;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -460px;
  margin-left: 975px;
}

.hero-image .img-box::before,
.hero-image .img-box::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(transparent,transparent,transparent, #00bcd4);
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.hero-image .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.hero-image .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #011627;
  border-radius: 50%;
  border: 1px solid #011627;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.hero-image .img-box .img-item img {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  mix-blend-mode: lighten;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 6rem 5% 2rem;  
    margin-top: 60px; 
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    padding-left: 0;
  }

  
  .hero-image .img-box {
    width: 60vw;
    height: 60vw;
    margin: 20px auto 0;
    margin-top: -290px;
  }

  .hero-sci {
    position: static;
    margin-top: -350px;
    width: 100%;
    justify-content: center;
  }


  .hero-text {
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content h3 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.7rem;
  }

  .buttons a {
    font-size: 0.7rem;
  }

  .hero-content .buttons {
    width: 100%;
    gap: 20px;
    justify-content: center;
  }
}

/* End of hero section styles */

.about {
  padding: 7rem 10%;
  color: #fff;
}

.about h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 20px;
}


.about-image {
  flex: 1;
  display: flex; 
  margin-top: 20px;
}

.about-image .img-box {
  position: relative;
  width: 500px;
  height: 600px; 
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-image .img-box::before,
.about-image .img-box::after {
  content: '';
  position: absolute;
  width: 700px;
  height: 700px;
  background: conic-gradient(transparent,transparent,transparent, #00bcd4);
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.about-image .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.about-image .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #011627;
  border-radius: 20px; 
  border: 1px solid #011627;
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.about-image .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px;
  mix-blend-mode: lighten; 
}

.about-content {
  flex: 1;
  margin-top: 20px;
  max-width: 600px;
}

.about-content h2 {
  font-size: 32px;
  font-weight: 700;
  color: #00bcd4;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.6;
}

.about-content .btns {
  display: flex;
  gap: 1rem;
}

.btns a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: #00bcd4;
  border: 2px solid #00bcd4;
  border-radius: 12px;
  font-size: 19px;
  color: #011627;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .5s;
}

.btns a:hover {
  background: #cbd5e1;
  color: #011627;
}

@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-bottom: 2rem;
  }

  .about-image .img-box {
   width: 350px;
   height: 550px; 
  }


  .about-content h2 {
   font-size: 1.5rem;
  }

  .about-content p {
   font-size: 0.9rem;
  }

  .about-content .btns {
    font-size: 0.9rem;
    margin-top: 50px;
  }
}

/* End of about section styles */

.skills {
  max-width: 1000px;
  text-align: center;
  margin-left: 24%;
  padding: 140px 20px;
}


.skills h1 {
  position: relative;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.skills .title {
  position: relative;
  font-size: 16px;
  margin: 18px 0 40px;
  color: #00bcd4;
  text-decoration: underline;
}

.skills-grid {
  position: relative;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.skill-item {
  background-color: #011627;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item img {
  max-width: 60px;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 0.9em;
  letter-spacing: 1px;
}

.skill-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .skills {
    margin-left: 0;
    padding: 100px 20px;
  }

  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
}

/* End of skills section styles */

.projects {
  position: relative;
  min-height: 100vh;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #011627;
}

.projects .content {
  max-width: 800px;
  text-align: center;
}


.projects .content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: #cbd5e1;
}

.projects .content p {
  color:#00bcd4;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 20px;
}

.project-container {
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-wrap: wrap;           
    gap: 100px;                
    margin-top: 40px;
}



.project-item {
  background-color: #cbd5e1;
  color: #011627;
  width: 300px;
  height: 420px;
  border-radius: 21px;
  padding: 20px;
  margin-top: 80px;
  box-shadow: 4px 4px 4px #39367D;
}

.project-item:hover {
  height: 440px;
  box-shadow: 4px 4px 4px 2px #39367D;
}

.projects img {
  width: 280px;
  height: 210px;
  margin-top: -12px;
  margin-bottom: -8px;
  margin-left: -9px;
  border-radius: 15px;
}

.project2Img {
    height: 210px;   
    object-fit: cover; 
    width: 100%;       
}

.project1Title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 800;
}

.project2Title {
  margin-top: 15px;
  font-size: 21px;
  font-weight: 800;
}

.project3Title {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 800;
}

.project-item p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}


.project-item .buttons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #00bcd4;
  border: 2px solid #00bcd4;
  border-radius: 8px;
  width: 200px;
  height: 40px;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-left: -2px;
  z-index: 1;
}

.project-item .buttons a:hover {
  background-color: #00bcd4;
  color: #011627;
}

.proButtons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #00bcd4;
  color: #011627;
  border-radius: 8px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 90px;
  margin-left: auto;
  z-index: 1;
}

.proButtons a:hover {
  background-color: #cbd5e1;
  color: #011627;
  border: 2px solid #00bcd4;
}

@media screen and (max-width: 768px) {
    .project-item:not(:first-child) {
        display: none;
    }
}


.anIdeas {
  background-color: #cbd5e1;
  color: #011627;
  width: 1895px;
  height: 470px;
  border-radius: 21px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.anIdeas h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
}

.anIdeas p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
}

.contactBtn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #00bcd4;
  border: 3px solid #00bcd4;
  border-radius: 12px;
  width: 300px;
  height: 70px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: -2px;
  z-index: 1;
}     

.contactBtn:hover {
 background-color: #00bcd4;
  color: #011627;
}


@media screen and (max-width: 768px) {
    .anIdeas {
        width: 380px;
        height: auto;
        margin-top: 40px;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .anIdeas h2 {
        font-size: 24px;
    }

    .anIdeas p {
        font-size: 11px;
    }

    .contactBtn {
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }
    
}
/* End of projects section styles */


.blogs {
  position: relative;
  min-height: 100vh;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #011627;
}

.blogs .content {
  max-width: 800px;
  text-align: center;
}


.blogs .content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: #cbd5e1;
}

.blogs .content p {
  color:#00bcd4;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 20px;
}

.blog-container {
    display: flex;
    justify-content: center;   
    align-items: flex-start;
    flex-wrap: wrap;           
    gap: 150px;                
    margin-top: 40px;
}



.blog-item {
  background-color: #cbd5e1;
  color: #011627;
  width: 320px;
  height: 370px;
  border-radius: 35px;
  padding: 20px;
  margin-top: 80px;
  box-shadow: 4px 4px 4px #39367D;
}

.blog-item:hover {
  height: 420px;
  box-shadow: 4px 4px 4px 2px #39367D;
}

.blogs img {
  width: 300px;
  height: 200px;
  margin-top: -12px;
  margin-bottom: -8px;
  margin-left: -9px;
  border-radius: 32px;
}

.blogs1Img {
    height: 200px;   
    object-fit: cover; 
    width: 100%;       
}

.blogs3Img {
    height: 200px;   
    object-fit: cover; 
    width: 100%;       
}


.blog-item p {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  color: #777777;
}


.blog-item h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}


.blog-item .buttons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #00bcd4;
  border: 2px solid #00bcd4;
  border-radius: 8px;
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-left: -2px;
  z-index: 1;
}

.blog-item .buttons a:hover {
  background-color: #00bcd4;
  color: #011627;
}

.blogButtons a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #00bcd4;
  color: #011627;
  border-radius: 8px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 90px;
  margin-left: auto;
  z-index: 1;
}

.blogButtons a:hover {
  background-color: #cbd5e1;
  color: #011627;
  border: 2px solid #00bcd4;
}

@media screen and (max-width: 768px) {
    .blog-item:not(:first-child) {
        display: none;
    }
}

.modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.75);
            opacity: 0;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
        }

        
        .modal:target {
            opacity: 1;
            visibility: visible;
            position: fixed;
        }

        
        .modal-content {
            background: #cbd5e1;
            color: #011627;
            width: 90%;
            max-width: 450px;
            padding: 20px;
            border-radius: 12px;
            position: relative;
        }

        
        .closeBlo {
            position: absolute;
            top: 15px;
            right: 15px;
            text-decoration: none;
            font-size: 32px;
            color: #011627;
            padding: 5px 14px;
            font-weight: bold;
        }

        .closeBlo:hover {
            background: #011627;
            color: #cbd5e1;
        }

        @media screen and (max-width: 768px) {
            .modal-content h2{
                font-size: 18px;
            }
            .closeBlo {
                top: 5px;
                right: 10px;
                font-size: 28px;
            }


        }

/* End of blogs section styles */

.section {
        padding: 60px 20px;
        text-align: center;
        position: relative;
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .sub-text {
        max-width: 500px;
        margin: 0 auto;
        color:#00bcd4;
        font-size: 1.1em;
        font-weight: 300;
        margin-top: 20px;
    }

    .testimonial-wrapper {
        max-width: 650px;
        margin: 50px auto;
        position: relative;
        z-index: 3;
    }

    .center-img-wrapper {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: -2px 1px 7.2px 18px #94b8cc88;
    }

    .center-img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .review-text {
        font-size: 18px;
        margin: 40px auto;
        line-height: 1.7;
        max-width: 600px;
        opacity: 0.9;
    }

    .review-author {
        font-size: 32px;
        margin-top: 10px;
        font-weight: 700;
        color: #1fafff;
    }

    .review-role {
        font-size: 32px;
        opacity: 0.8;
    }

    .avatar {
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #1fafff;
        box-shadow: 0 0 15px #1fafff66;
        animation: float 6s ease-in-out infinite;
    }

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a1 { top: 25%; left: 10%; animation-delay: 0s; }
    .a2 { top: 35%; left: 23%; animation-delay: 1s; }
    .a3 { top: 50%; left: 30%; animation-delay: 2s; }
    .a4 { top: 65%; left: 15%; animation-delay: 0.5s; }
    .a5 { top: 20%; right: 15%; animation-delay: 1.5s; }
    .a6 { top: 35%; right: 25%; animation-delay: 2.5s; }
    .a7 { top: 50%; right: 10%; animation-delay: 1s; }
    .a8 { top: 50%; right: 30%; animation-delay: 2s; }
  

    @keyframes float {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-20px); }
    }

    @media screen  and (max-width: 768px) {

        .center-img-wrapper {
            width: 90px;
            height: 90px;
            box-shadow: -2px 1px 7.2px 8px #94b8cc88;
        }

        .avatar {
            width: 40px;
            height: 40px;
        }

        .a1 { top: 35%; left: 10%; animation-delay: 0s; }
        .a2 { top: 45%; left: 20%; animation-delay: 1s; }
        .a5 { top: 35%; right: 10%; animation-delay: 1.5s; }
        .a6 { top: 45%; right: 20%; animation-delay: 2.5s; }

        .a3,
        .a4,
        .a7,
        .a8 {
            display: none;
        }

        .review-text {
            font-size: 14px;
            margin: 50px auto;
            max-width: 300px;
        }

        .review-author {
            font-size: 20px;
        }
      
    }

    /* End of testimonial section styles */

.contact {
  position: relative;
  min-height: 100vh;
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #011627;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: #cbd5e1;
}

.contact .content p {
  color:#00bcd4;
  font-size: 1.1em;
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}

.container .contactInfo .box .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: repeating-conic-gradient(from 27.5deg, #00bcd4 0%, #00bcd4 10%, transparent 10%, transparent 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contactInfo .box .icon::before {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from 117.5deg, #00bcd4 0%, #00bcd4 10%, transparent 10%, transparent 50%);
}
.container .contactInfo .box .icon::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: #011627;
}

.container .contactInfo .box .icon b {
  position: absolute;
  inset: 8px;
  background: #00bcd4;
  z-index: 2;
}

.container .contactInfo .box .icon i {
  position: relative;
  z-index: 1000;
  color: #011627;
  font-size: 1.25em;
}

.container .contactInfo .box .text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #cbd5e1;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.container .contactInfo .txt {
  color: #cbd5e1;
  margin-top: 50px;
  font-weight: 500;
  border-left: 50px solid #00bcd4;
  padding-left: 10px;
  line-height: 1em;
}

.container .contactInfo .sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.container .contactInfo .sci li {
  list-style: none;
}

.container .contactInfo .sci li a {
  color: #cbd5e1;
  font-size: 1.5em;
  transition: 0.25s;
}

.container .contactInfo .sci li a:hover {
  color: #00bcd4;
  filter: drop-shadow(0 0 5px #00bcd4);
}

.container .contactForm {
  position: relative;
  width: 40%;
  background: repeating-conic-gradient(from var(--a), #00bcd4 0%, #00bcd4 10%, transparent 10%, transparent 50%);
  animation: animate 6s linear infinite;
  padding: 60px;
}

.container .contactForm::before {
  content: '';
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(from var(--a), #00bcd4 0%, #00bcd4 10%, transparent 10%, transparent 50%);
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.container .contactForm::after {
  content: '';
  position: absolute;
  inset: 2px;
  border: 20px solid #011627;
  background: #011627;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.container .contactForm form {
  position: relative;
  z-index: 10;
}

.container .contactForm form h2 {
  font-size: 2em;
  color: #cbd5e1;
  font-weight: 500;
}

.container .contactForm form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #00bcd4;
  color: #cbd5e1;
  outline: none;
}

.container .contactForm form .inputBox span {
  position: absolute;
  left: 0%;
  pointer-events: none;
  padding: 5px 0;
  margin: auto;
  font-size: 1.1em;
  color: #cbd5e1;
  transition: 0.5s;
}

.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span,
.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 0.9em;
  color: #00bcd4;
}


.container .contactForm form .inputBox input[type="submit"] {
  width: 100%;
  color: #011627;
  background: #00bcd4;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

.container .contactForm form .inputBox input[type="submit"]:hover {
  background: #cbd5e1;
  color: #011627;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .contact {
    padding: 90px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }
  .container .contactForm {
    padding: 40px;
  }
  .container .contactForm form {
    padding: 10px;
  }
}

/*End of contact section styles*/

footer {
  position: relative;
  width: 100%;
  padding: 20px 10%;
  background-color: #011627;
  color: #cbd5e1;
  text-align: center;
}
footer p {
  margin: 5px 0;
}
footer a {
  color: #00bcd4;
  text-decoration: none;
}

/* End of footer styles */

#backToTop {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 70px;
    height: 70px;
    background: var(--primary-color, #00bcd4);
    color: #011627;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
}

#backToTop.show {
    opacity: 1;
    pointer-events: all;
}

#backToTop:hover {
    background: #cbd5e1;
}

@media screen and (max-width: 600px) {
    #backToTop {
        bottom: 20px;
        right: 20px;
    }
  
}


/* Light theme */
body.light-theme {
    background-color: #cbd5e1;
    color: #011627;
}

body.light-theme .brand {
    color: #011627;       
}

body.light-theme .logo {
    background-color: #011627;
    color: #cbd5e1;            
}

body.light-theme .navbar a {
  color: #011627;
}

.body.light-theme .navbar a:hover,
.body.light-theme .navbar a.active{
    color: #011627;
}

@media screen {
  .body.light-theme .navbar a:hover,
  .body.light-theme .navbar a.active{
    color: #011627;
 }
}

body.light-theme .menu,
body.light-theme .close {
  color: #011627;
}

body.light-theme .about {
  color: #011627;
}

body.light-theme .skill-item {
  background-color: #00bcd4;
}

body.light-theme .projects {
  background-color: #cbd5e1;
}

body.light-theme .projects .content h1 {
  color: #011627;
}

body.light-theme .anIdeas {
  background-color: #00bcd4;
  color: #cbd5e1;
}

body.light-theme .contactBtn {
  background-color: transparent;
  color: #cbd5e1;
  border: 3px solid #cbd5e1;
  
}     

body.light-theme .contactBtn:hover {
  background-color: #011627;
  color: #cbd5e1;
}

body.light-theme .blogs {
  background-color: #cbd5e1;
}

body.light-theme .blogs .content h1 {
  color: #011627;
}

body.light-theme .contact {
  background-color: #cbd5e1;
}

body.light-theme .contact .content h1 {
  color: #011627;
}

body.light-theme .container .contactInfo .box .icon {
  background: repeating-conic-gradient(from 27.5deg, #011627 0%, #011627 10%, transparent 10%, transparent 50%);
}

body.light-theme .container .contactInfo .box .icon::before {
  background: repeating-conic-gradient(from 117.5deg, #011627 0%, #011627 10%, transparent 10%, transparent 50%);
}

body.light-theme .container .contactInfo .box .icon::after {
  background: #cbd5e1;
}

body.light-theme .container .contactInfo .box .text { 
  color: #011627;
}

body.light-theme .container .contactInfo .box .text h3 {
  color: #011627;
}

body.light-theme .container .contactInfo .txt {
  color: #011627;
  border-left: 50px solid #011627;
}

body.light-theme .container .contactInfo .sci li a {
  color: #011627;
}

body.light-theme .container .contactForm {
  background: repeating-conic-gradient(from var(--a), #011627 0%, #011627 10%, transparent 10%, transparent 50%);
}

body.light-theme .container .contactForm::before {
  background: repeating-conic-gradient(from var(--a), #011627 0%, #011627 10%, transparent 10%, transparent 50%);
}

body.light-theme .container .contactForm::after {
  border: 20px solid #cbd5e1;
  background: #cbd5e1;
}

body.light-theme .container .contactForm form h2 {
  color: #011627;
}

body.light-theme .container .contactForm form .inputBox input,
body.light-theme .container .contactForm form .inputBox textarea {
  border-bottom: 2px solid #011627;
  color: #00bcd4;
}

body.light-theme .container .contactForm form .inputBox span {
  color: #011627;
}

body.light-theme .container .contactForm form .inputBox input:focus ~ span,
body.light-theme .container .contactForm form .inputBox textarea:focus ~ span,
body.light-theme .container .contactForm form .inputBox input:valid ~ span,
body.light-theme .container .contactForm form .inputBox textarea:valid ~ span {
  color: #00bcd4;
}


body.light-theme .container .contactForm form .inputBox input[type="submit"] {
  color: #cbd5e1;
  background: #011627;
}

body.light-theme .container .contactForm form .inputBox input[type="submit"]:hover {
  background: #00bcd4;
  color: #011627;
}

body.light-theme footer {
  background-color: #cbd5e1;
  color: #011627;
}

body.light-theme footer a {
  color: #00bcd4;
}

body.light-theme #backToTop:hover {
    background: #011627;
    color:#cbd5e1;
}